<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p>This ugly page was created by me.</p>
        <img src="/img/heisemberg.png">
        {{>footer}}
    </body>
</html>